@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*sobre nos*/

.row {
    height: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: url(./images/fundo-cinza.jpg);
    margin: 0 auto;

}


.row .imgWrapper img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    margin-left: 5rem;
}

.row .imgWrapper:hover img {
    transform: scale(1.25);
}

.row .contentWrapper {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}


.row .contentWrapper span.textWrapper {
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.row .contentWrapper span.textWrapper span {
    display: inline-block;
    background-color: #04042b;
    width: 70px;
    height: 5px;

}

.row .contentWrapper h3 {
    color: #04042b;
}

.row .contentWrapper h2 {
    font-size: 40px;
    font-weight: 700;
    color: #04042b;
    padding-bottom: 20px;
}

.row .contentWrapper p {
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 25px;
    color: #04042b;
    margin-right: 4rem;
    text-align: justify;

}

.row .contentWrapper a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    /* Cor do texto */
    padding: 15px 40px;
    letter-spacing: 1px;
    user-select: none;
    background-color: #04042b;
    /* Cor de fundo do botão */
    border-radius: 5px;
    /* Opcional: bordas arredondadas */
    transition: background-color 0.3s;
    /* Opcional: transição suave para mudança de cor */
}

.row .contentWrapper a:hover {
    background-color: #0f0f93;
    /* Cor de fundo ao passar o mouse sobre o botão */
}

/* Responsivo */
@media (max-width: 991px) {
    .row {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }

    .contentWrapper {
        padding-left: 0;
    }



    .row .imgWrapper img {
        display: none;
    }

    .row .contentWrapper a {
        margin-left: 38px;
    }
}

@media (max-width: 768px) {
    .row {
        min-width: 100%;
        height: 80%;
    }

    .row .contentWrapper h2 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .row .contentWrapper p {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 25px;
        color: #04042b;
        margin-right: 4rem;
        text-align: justify;

    }
}

@media (max-width: 575px) {
    .textWrapper {
        font-size: 18px;
    }

    .contentWrapper h2 {
        font-size: 25px;
    }

    .contentWrapper p {
        font-size: 15px;
        line-height: 22px;
    }

    .contentWrapper a {
        font-size: 15px;
        padding: 10px 20px;
    }
}


/*navbar*/

body,
ul {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}

a {
    color: #04042b;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #ffffff;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espaço entre a imagem e o texto */
}

#logo-img {
    width: 80px;
    /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}


#header {
    box-sizing: border-box;
    height: 70px;
    min-width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #a3a3a3;
    position: fixed;
    z-index: 2000;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;

}

#menu a {
    display: block;
    padding: 0.5rem;
}

#btn-mobile {
    display: none;
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

}

.service-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    gap: 20px;
    height: 100vh;
}




h1 p {
    color: wheat;
}


/* Conteúdo da Seção (Texto à Esquerda) */
.service-content {
    max-width: 400px;
    text-align: left;
}

.service-content h1 {
    font-size: 3.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.service-content p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #ffffff;
    text-align: justify;
}

/* Imagem da Seção (Imagem à Direita) */
.service-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.service-image img {
    max-width: 35%;
    height: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-image-1 img {
    max-width: 55%;
    height: 55%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.service-button {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #0863c5;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 20px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.service-button:hover {
    background-color: #0056b3;
}

.service-button-whatsapp {

    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #067702;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 20px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}


@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        min-width: 100%;
        top: 70px;
        right: 0px;
        background: #a3a3a3;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .service-content p {
        font-size: 1.2rem;
        text-align: justify;
    }

    .service-image img {
        display: none;
    }
    .service-image-1 img {
        display: none;
    }
}

/* Hero Section */

.hero {
    height: 100vh;
    background: url('./images/justica-2.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 60px;
}

.btn {
    background-color: #04042b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin-bottom: 12rem;
}

.btn:hover {
    background-color: #00192f;
}

/* Sobre Section */
.sobre {
    padding: 50px 20px;
    text-align: center;
}

.sobre h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.sobre p {
    font-size: 1.1rem;
    color: #666;
}

/* Footer */
footer {
    background-color: #272727;
    width: 100%;
    color: #FFF;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
    color: #FFF;
    font-size: 2rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    color: #FFF;
    font-size: 1.8rem;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #2fff00;
}

#footer_subscribe img {
    display: flex;
    width: 320px;
    height: 180px;
    margin-left: 22.5rem;

}

#footer_subscribe p {
    color: #FFF;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    font-size: 12px;
}

#footer_copyright a {
    color: #FFF;
    margin-left: 5px;
}

#footer_copyright a:hover {
    color: rgb(0, 255, 0);
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    #footer_subscribe img {
        display: flex;
        justify-content: center;
        width: 320px;
        height: 180px;
        margin: 15px;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/*footer*/